* {box-sizing: border-box;}

body { 
  background-image: url(assets/Menu.png);
  background-size: 100% auto; /* Lebar penuh, tinggi otomatis sesuai rasio */
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Montserrat",sans-serif;
}

.header {
  overflow: hidden;
  background-color: #405059;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 0px;
}

.logo {
  margin-top: 0px;
}

.header a:hover {
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #405059;
    color: white;
}

div.buttonstart {
    position: fixed;
    left: 53px;
    top: 175px;
}

div.buttonload {
  position: fixed;
  left: 324px;
  top: 249px;
}

div.buttonhelp {
  position: fixed;
  left: 161px;
  top: 458px;
}

div.buttonbackhome1 {
  position: fixed;
  left: 90px;
  top: 375px;
}

div.buttonnextortry {
  position: fixed;
  left: 1100px;
  top: 375px;
}

.bodyhelp {
  background-image: url(assets/Help_bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Montserrat",sans-serif; 
}

.footer a {
  position: fixed;
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border-radius: 0px;
}

.bodystart {
  background-image: url(assets/TIMER.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Montserrat",sans-serif; 
}

.bodywin {
  background-image: url(assets/WIN.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Montserrat",sans-serif; 
}

.bodyfail {
  background-image: url(assets/FAIL.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Montserrat",sans-serif; 
}

.timer-container {
  background-color: #405059;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 100px; /* Jarak dari sisi kanan */
  top: 130px; /* Jarak dari bawah header */
  width: 100px; /* Ukuran lebar container lebih kecil */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#timer {
  color: #ffad08;
  font-size: 24px; /* Ukuran font lebih kecil */
  font-weight: 700;
  margin: 0;
}

.quiz-container {
  width: 615px;
  height: 100px;
  position: absolute;
  background-color: #f0f0f0;
  right: 100px;
  top: 190px; 
  padding: 15px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.quiz-container h2 {
  color: #333;
}

.card {
  width: 176px;
  height: 176px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.card-1 {
  background-color: #FFAD08;
  top: 500px;
}

.card-2 {
  background-color: #EDD75A;
}

.card-3 {
  background-color: #0C8F8F;
}

.container {
  position: fixed;
  bottom: 100px; /* Jarak dari bawah */
  right: 100px;  /* Jarak dari kanan */
  display: flex;
  gap: 45px;   /* Jarak antar kartu 220px */
}

.answer-box {
  position: fixed;
  width: 176px;
  height: 176px;
  border: 3px dashed #FFAD08;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  bottom: 300px;
  right: 320px;
}